<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtravel.consumer.dao.IBaseAreaDao">
  <resultMap id="BaseResultMap" type="com.cloudtravel.common.consumer.model.BaseAreaModel">
    <id column="AREA_ID" jdbcType="BIGINT" property="areaId" />
    <result column="PARENT_AREA_ID" jdbcType="BIGINT" property="parentAreaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="FULL_AREA_NAME" jdbcType="VARCHAR" property="fullAreaName" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="FULL_SHORT_NAME" jdbcType="VARCHAR" property="fullShortName" />
    <result column="AREA_LEVEL" jdbcType="SMALLINT" property="areaLevel" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="PINYIN" jdbcType="VARCHAR" property="pinyin" />
    <result column="JIANPIN" jdbcType="VARCHAR" property="jianpin" />
    <result column="FIRST_CHAR" jdbcType="VARCHAR" property="firstChar" />
    <result column="LNG" jdbcType="DECIMAL" property="lng" />
    <result column="LAT" jdbcType="DECIMAL" property="lat" />
    <result column="HOT_PIROR" jdbcType="BIGINT" property="hotPiror" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="DEL_FLG" jdbcType="BIT" property="delFlg" />
    <result column="ADD_ACTION" jdbcType="VARCHAR" property="addAction" />
    <result column="ADD_ACCOUNT_ID" jdbcType="BIGINT" property="addAccountId" />
    <result column="ADD_TERM_IP" jdbcType="VARCHAR" property="addTermIp" />
    <result column="ADD_DT" jdbcType="BIGINT" property="addDt" />
    <result column="UPD_ACTION" jdbcType="VARCHAR" property="updAction" />
    <result column="UPD_ACCOUNT_ID" jdbcType="BIGINT" property="updAccountId" />
    <result column="UPD_TERM_IP" jdbcType="VARCHAR" property="updTermIp" />
    <result column="UPD_DT" jdbcType="BIGINT" property="updDt" />
  </resultMap>
  <sql id="Base_Column_List">
    AREA_ID, PARENT_AREA_ID, AREA_NAME, FULL_AREA_NAME, SHORT_NAME, FULL_SHORT_NAME, 
    AREA_LEVEL, CITY_CODE, ZIP_CODE, PINYIN, JIANPIN, FIRST_CHAR, LNG, LAT, HOT_PIROR, 
    REMARK, VERSION, DEL_FLG, ADD_ACTION, ADD_ACCOUNT_ID, ADD_TERM_IP, ADD_DT, UPD_ACTION, 
    UPD_ACCOUNT_ID, UPD_TERM_IP, UPD_DT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_area
    where AREA_ID = #{areaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_area
    where AREA_ID = #{areaId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cloudtravel.common.consumer.model.BaseAreaModel">
    insert into b_area (AREA_ID, PARENT_AREA_ID, AREA_NAME, 
      FULL_AREA_NAME, SHORT_NAME, FULL_SHORT_NAME, 
      AREA_LEVEL, CITY_CODE, ZIP_CODE, 
      PINYIN, JIANPIN, FIRST_CHAR, 
      LNG, LAT, HOT_PIROR, 
      REMARK, VERSION, DEL_FLG, 
      ADD_ACTION, ADD_ACCOUNT_ID, ADD_TERM_IP, 
      ADD_DT, UPD_ACTION, UPD_ACCOUNT_ID, 
      UPD_TERM_IP, UPD_DT)
    values (#{areaId,jdbcType=BIGINT}, #{parentAreaId,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR}, 
      #{fullAreaName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{fullShortName,jdbcType=VARCHAR}, 
      #{areaLevel,jdbcType=SMALLINT}, #{cityCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{pinyin,jdbcType=VARCHAR}, #{jianpin,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}, 
      #{lng,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{hotPiror,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, #{delFlg,jdbcType=BIT}, 
      #{addAction,jdbcType=VARCHAR}, #{addAccountId,jdbcType=BIGINT}, #{addTermIp,jdbcType=VARCHAR}, 
      #{addDt,jdbcType=BIGINT}, #{updAction,jdbcType=VARCHAR}, #{updAccountId,jdbcType=BIGINT}, 
      #{updTermIp,jdbcType=VARCHAR}, #{updDt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cloudtravel.common.consumer.model.BaseAreaModel">
    insert into b_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="parentAreaId != null">
        PARENT_AREA_ID,
      </if>
      <if test="areaName != null">
        AREA_NAME,
      </if>
      <if test="fullAreaName != null">
        FULL_AREA_NAME,
      </if>
      <if test="shortName != null">
        SHORT_NAME,
      </if>
      <if test="fullShortName != null">
        FULL_SHORT_NAME,
      </if>
      <if test="areaLevel != null">
        AREA_LEVEL,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="zipCode != null">
        ZIP_CODE,
      </if>
      <if test="pinyin != null">
        PINYIN,
      </if>
      <if test="jianpin != null">
        JIANPIN,
      </if>
      <if test="firstChar != null">
        FIRST_CHAR,
      </if>
      <if test="lng != null">
        LNG,
      </if>
      <if test="lat != null">
        LAT,
      </if>
      <if test="hotPiror != null">
        HOT_PIROR,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="delFlg != null">
        DEL_FLG,
      </if>
      <if test="addAction != null">
        ADD_ACTION,
      </if>
      <if test="addAccountId != null">
        ADD_ACCOUNT_ID,
      </if>
      <if test="addTermIp != null">
        ADD_TERM_IP,
      </if>
      <if test="addDt != null">
        ADD_DT,
      </if>
      <if test="updAction != null">
        UPD_ACTION,
      </if>
      <if test="updAccountId != null">
        UPD_ACCOUNT_ID,
      </if>
      <if test="updTermIp != null">
        UPD_TERM_IP,
      </if>
      <if test="updDt != null">
        UPD_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="parentAreaId != null">
        #{parentAreaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="fullAreaName != null">
        #{fullAreaName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullShortName != null">
        #{fullShortName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null">
        #{areaLevel,jdbcType=SMALLINT},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="jianpin != null">
        #{jianpin,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        #{firstChar,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="hotPiror != null">
        #{hotPiror,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=BIT},
      </if>
      <if test="addAction != null">
        #{addAction,jdbcType=VARCHAR},
      </if>
      <if test="addAccountId != null">
        #{addAccountId,jdbcType=BIGINT},
      </if>
      <if test="addTermIp != null">
        #{addTermIp,jdbcType=VARCHAR},
      </if>
      <if test="addDt != null">
        #{addDt,jdbcType=BIGINT},
      </if>
      <if test="updAction != null">
        #{updAction,jdbcType=VARCHAR},
      </if>
      <if test="updAccountId != null">
        #{updAccountId,jdbcType=BIGINT},
      </if>
      <if test="updTermIp != null">
        #{updTermIp,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        #{updDt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloudtravel.common.consumer.model.BaseAreaModel">
    update b_area
    <set>
      <if test="parentAreaId != null">
        PARENT_AREA_ID = #{parentAreaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="fullAreaName != null">
        FULL_AREA_NAME = #{fullAreaName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullShortName != null">
        FULL_SHORT_NAME = #{fullShortName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null">
        AREA_LEVEL = #{areaLevel,jdbcType=SMALLINT},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        PINYIN = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="jianpin != null">
        JIANPIN = #{jianpin,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        FIRST_CHAR = #{firstChar,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        LNG = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        LAT = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="hotPiror != null">
        HOT_PIROR = #{hotPiror,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=BIGINT},
      </if>
      <if test="delFlg != null">
        DEL_FLG = #{delFlg,jdbcType=BIT},
      </if>
      <if test="addAction != null">
        ADD_ACTION = #{addAction,jdbcType=VARCHAR},
      </if>
      <if test="addAccountId != null">
        ADD_ACCOUNT_ID = #{addAccountId,jdbcType=BIGINT},
      </if>
      <if test="addTermIp != null">
        ADD_TERM_IP = #{addTermIp,jdbcType=VARCHAR},
      </if>
      <if test="addDt != null">
        ADD_DT = #{addDt,jdbcType=BIGINT},
      </if>
      <if test="updAction != null">
        UPD_ACTION = #{updAction,jdbcType=VARCHAR},
      </if>
      <if test="updAccountId != null">
        UPD_ACCOUNT_ID = #{updAccountId,jdbcType=BIGINT},
      </if>
      <if test="updTermIp != null">
        UPD_TERM_IP = #{updTermIp,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        UPD_DT = #{updDt,jdbcType=BIGINT},
      </if>
    </set>
    where AREA_ID = #{areaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloudtravel.common.consumer.model.BaseAreaModel">
    update b_area
    set PARENT_AREA_ID = #{parentAreaId,jdbcType=BIGINT},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      FULL_AREA_NAME = #{fullAreaName,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      FULL_SHORT_NAME = #{fullShortName,jdbcType=VARCHAR},
      AREA_LEVEL = #{areaLevel,jdbcType=SMALLINT},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      PINYIN = #{pinyin,jdbcType=VARCHAR},
      JIANPIN = #{jianpin,jdbcType=VARCHAR},
      FIRST_CHAR = #{firstChar,jdbcType=VARCHAR},
      LNG = #{lng,jdbcType=DECIMAL},
      LAT = #{lat,jdbcType=DECIMAL},
      HOT_PIROR = #{hotPiror,jdbcType=BIGINT},
      REMARK = #{remark,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=BIGINT},
      DEL_FLG = #{delFlg,jdbcType=BIT},
      ADD_ACTION = #{addAction,jdbcType=VARCHAR},
      ADD_ACCOUNT_ID = #{addAccountId,jdbcType=BIGINT},
      ADD_TERM_IP = #{addTermIp,jdbcType=VARCHAR},
      ADD_DT = #{addDt,jdbcType=BIGINT},
      UPD_ACTION = #{updAction,jdbcType=VARCHAR},
      UPD_ACCOUNT_ID = #{updAccountId,jdbcType=BIGINT},
      UPD_TERM_IP = #{updTermIp,jdbcType=VARCHAR},
      UPD_DT = #{updDt,jdbcType=BIGINT}
    where AREA_ID = #{areaId,jdbcType=BIGINT}
  </update>
</mapper>